<div class="container-sm">
  <div class="p-4 mb-2 mt-2 bg-primary text-white rounded text-center">
    <img src="assets/images/nasa-logo.png" class="logo" alt="logo">
    <h3>NASA Picture of the Day</h3>
    {{ dataFromApi?.date | date: 'dd.MM.yyyy' }}
  </div>
  <p class="text-center text-primary">{{dataFromApi?.title}} - {{dataFromApi?.date}} - {{dataFromApi?.copyright}}</p>
  <p>
    <i>{{dataFromApi?.explanation}}</i>
  </p>
  <img src="{{dataFromApi?.url}}" alt="{{dataFromApi?.copyright}}" class="img-fluid rounded mx-auto d-block ">
</div>
